.user_connection_profile {
  border: 3px solid rgb(100, 97, 97);
  display: block;
  margin: 5rem 2rem 1rem 2rem;
  width: 30%;
}

.user_profile {
  display: flex;
  width: 70%;
  justify-content: center;
  height: 30vh;
  margin: 0 auto;
}

.userImage {
  width: 100%;
}

.user_block {
  display: flex;
  margin:0.5rem;
  justify-content: center;
}

.user_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.user_position{
  text-align: center;
}

.user_class, .user_position{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #888888;
}

.user_branch {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #888888;
}

.user_expertise {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #888888;
  margin-left: 10px;
}

.user_skills {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #888888;
}

.user_connection_button {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0 1rem 0;
}
