.opp_header {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  #opp_header_button {
    color: black;
    background-color: #ff7146;
    margin: 1rem;
  }
  .opp_header_heading {
    margin-top: 2rem;
  }
  .job_post_container {
    display: flex;
    width:77%;
    margin:auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    /* margin: 4rem; */
  }

  .search_container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .search_bar_filter {
    display: block;
    width: 40%;
    align-items: center;
    position: relative;
  }
  
  .search_icon {
    display: flex;
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #5a5757;
  }
  
  .input_search {
    display: flex;
    width: 100%;
    position: relative;
  }
  
  