.batch_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    
    /* border: 1px solid black; */
}
.batch_heading{
   margin:2rem;
}
.batch_card_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    
    /* border: 1px solid black; */
}