.login__container {
  min-height: 85vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-body);
}

.form_box{
  width:90%;
  height:92vh;
  margin:1.5rem auto;
  display:flex;
  flex-direction: row;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.login__form {
  width: 40rem;
  height:85vh;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--primary-form);
 
}

.forgot_button{
  color: black;
  background-color: white;
  width:90%;
  padding: 0.75rem;
  margin-top: 1rem;
  font-weight: bold;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  border: 2px solid #498484;
}
.login__form--button {
  background-color: #498484;
  color: white;
  padding: 0.75rem;
  margin-top: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  border: 2px solid #498484;
  transition: all 0.4s;
}

.login__form--button:hover {
  background-color: var(--header-button);
  color: #498484;
}

.login__forgot--button a {
  display: block;
  text-align: center;
  text-decoration: none;
  
  color: #498484;
  padding: 0.75rem;
  margin-top: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: inherit;
  border: 2px solid #498484;
}

.login__form--p {
  margin: 1rem;
  margin-left: 2px;
  font-weight: bold;
  color: var(--primary-footer-text);
}

.login__form--p a {
  color: #498484;
  text-decoration: none;
}

.login__heading--container {
  padding: 3rem 0 3rem 0;
  display: flex;
  justify-content: center;
}

.login__heading--container h1 {
  font-size: 1.8rem;
  color: var(--primary-footer-text);
}

@media (max-width: 345px) {
  .login__form {
    width: 40rem;
  }
}
