.experience_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1rem auto;
    width: 95%;
    height: 100%;
    
}
.card_divContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin:1rem auto;
    height: 100%;

}
.cardexp_container{
    width: 90%;
    margin:1rem auto;
    padding:1rem;
    box-shadow: rgba(94, 92, 92, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
}
.card_content{
    margin:1rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 