.event_section_container{
    width:90%;
    margin:1rem;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.card_button,.btn-secondary{
    background-color: rgb(215, 215, 215);
    color: black;
    border: none;
}
.event_card_container{
    width: 95%;
    margin: 1rem 0rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.event_section_inner_heading{
   width:90%;
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin:auto;
}
.event_card_content{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    margin:auto;
}
.event_card_date{
    margin:1rem;
    font-size: medium;
}
.inner_card_content{
    align-items: center;
}
.event_card_link{
   text-decoration: none;
   color:black;

}
.event_card_link:hover{
    text-decoration: none;
    color:black;
    
 }