.Achievers_heading_container {
  display: block;
  margin-top: 4rem;
}

.Achievers_heading1 {
  display: flex;
  justify-content: center;
  font-family: "Alfa Slab One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.017em;
  color: #3c4f61;
}

.center_line {
  display: flex;
  width: 20%;
  margin: auto 0.5rem;
  margin-bottom: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-bottom: 3px solid #3c4f61;
}

.bottom_line {
  display: block;
  width: 80%;
  margin: 4rem auto;
  border-bottom: 1px solid #7c7979;
}

.Achievements_Profile {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  justify-content: space-between;
}
