.header_bar{
background-color: #4d8686 ;
width:97%;
margin:auto;
padding:0.5rem;
display: flex;
flex-direction:row; 
justify-content: space-between;
color:white;
}
#header_button{
    color:black;
    float:right;
    background-color: rgb(192, 190, 190);
}
